ui = true

#mlock = true
disable_mlock = true

[% if vault.storage.type == 'raft' %]
storage "raft" {
  path = "[[ vault.data_dir ]]/raft"
  node_id = "[[ ansible_hostname ]]"
[% for n in groups['servers'] %]
  retry_join {
    leader_api_addr = "http://[[ n ]]:8200"
  }
[% endfor %]
}
[% endif %]

listener "tcp" {
  address = "127.0.0.1:8200"
  tls_disable = true
}

# HTTPS listener
listener "tcp" {
  address       = "{{ GetInterfaceIP \"eth1\" }}:8200"
  #tls_cert_file = "/opt/vault/tls/tls.crt"
  #tls_key_file  = "/opt/vault/tls/tls.key"
  tls_disable = true
}

api_addr = "http://{{ GetInterfaceIP \"eth1\" }}:8200"
cluster_addr = "http://{{ GetInterfaceIP \"eth1\" }}:8201"

telemetry {
  usage_gauge_period = "5m"
  prometheus_retention_time = "24h"
}
